@import url('https://fonts.googleapis.com/css?family=Akronim|Noto+Sans|PT+Sans|Signika');

/*
font-family: 'PT Sans', sans-serif;
font-family: 'Akronim', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Signika', sans-serif;
font-family: 'Roboto', sans-serif;
*/


*{
    margin: 0 auto;
    padding: 0 auto; 
}
body{
	background-image: linear-gradient(120deg, rgb(209, 219, 233), rgb(240, 250, 243));
}

h1{
	color: rgb(53, 114, 210);
    font-size: 23px;
    font-style: bold;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
	font-family: 'Signika', sans-serif;
}

.container{
	margin: 1% auto;
	width: 90%;
	min-height: 560px;
}

.form-lore{
	margin: 0 auto;
	width: 50%;
	mbox-shadow: 0px 0px 10px #afc0d9;
    background-color: #fff;
    padding: 35px;
    border-radius: .35rem;
    text-align: center;
}

.form-lore label{
	display: block;
	font-family: 'PT Sans', sans-serif;
	font-style: bold;
  	margin: 0px 0px 5px;
}

.form-lore input[type="text"], .form-lore input[type="email"]{
    border-radius: 2px;
	color: #100;
	width: 80%;
	padding: 0px 0px 0px 5px;
	border: 1px solid #C5E2FF;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
	box-shadow: inset 0px 1px 6px #ECF3F5;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	height: 30px;
	line-height:15px;
	margin: 2px 6px 16px 0px;
}

input[type=submit] {
	width: 80%;
	height: 35px;
	line-height:15px;
	margin-top:20px;
    background-color: #ee9f9f;
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
}
.form-lore textarea{
	border-radius: 2px;
	color: #100;
	width: 80%;
	padding: 0px 0px 0px 5px;
	border: 1px solid #C5E2FF;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
	box-shadow: inset 0px 1px 6px #ECF3F5;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	height: 50px;
	line-height:15px;
	margin: 2px 6px 16px 0px;
}
.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
    text-decoration:none;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
    text-decoration:none;
}

.product-links a:hover {
    color: #fbb72c;
}
